#navbar {
    background-color: black;
}

#nav, #nav1 {
    color: white;
}

#nav:hover {
    color: #9fccff;
    text-decoration: none;
}

#nav1 {
    font-size: 48px;
    font-family: 'Bebas Neue', cursive;
}

#navSide {
    padding: 0 15px 0 15px;
    background-color: black;
    color: white;
}

#header1 {
    padding: 10px 0 0 20px;
    color: #9fccff;
}

#search {
    height: 100%;
    background-color: #2531e9;
}

.enter {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Comfortaa', cursive;
    color: white;
}

#results {
    height: 200%;
    background-color: black;
}

.uk-card {
    height: 300%;
}

#result1, #result2, #result3 {
    background-color: #2e2e2e;
}

.festival {
    padding-left: 20px;
}
