#navbar {
    height: 100px;
    background-color: black;
}

#nav {
    padding-top: 15px;
    font-size: 16px;
    font-family: 'Comfortaa', cursive;
    color: white;
}

#nav:hover {
    color: #9fccff;
    text-decoration: none;
}

#nav1 {
    font-size: 54px;
    font-family: 'Bebas Neue', cursive;
    color: white;
}

#search {
    height: 100%;
    background-color: #2531e9;
}

.enter {
    font-size: 22px;
    font-weight: bold;
    font-family: 'Comfortaa', cursive;
    color: white;
}

#artist-term, #city-term {
    text-transform: uppercase;
    font-family: 'Comfortaa', cursive;
}

.user-here {
    font-family: 'Comfortaa', cursive;
}

#results {
    height: 600px;
    background-color: black;
}

#result1, #result2, #result3, #image1, #link1, #link2, #link3 {
    background-color: black;
}

.uk-card {
    padding-left: none;
    padding-right: none;
}

#transportation {
    font-size: 100px;
}

#need-ride {
    font-size: 22px;
    font-weight: bold;
    font-family: 'Comfortaa', cursive;
    color: white;
}

#lyft {
    color: #FD00BF;
}

#copyright {
    padding: 100px;
    background-color: black
}

#banner {
    font-size: 64px;
    font-family: 'Bebas Neue', cursive;
}

#nav-side {
    padding: 0 15px 0 15px;
    background-color: black;
    text-transform: uppercase;
    font-size: 16px;
    font-family: 'Comfortaa', cursive;
    color: white;
}

#header1 {
    padding: 10px 0 0 20px;
    font-size: 18px;
    color: #9fccff;
}

.festival {
    padding-left: 20px;
}

#map-canvas {
    height: 100%;
}


.signup-heading {
    text-transform: uppercase;
    font-family: 'Comfortaa', cursive;
}

#text-signup {
    height: 380px;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    background-color: black;
}

#phone-submit-btn {
    color: white;
    font-family: 'Comfortaa';
    background-color: black;
}

#map-canvas {
    height: 100%;
}


